/********** CSS Reset **********/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1;
}

/********** Basic Setting **********/

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --light-green: hsl(154, 59%, 65%);
  --dark-green: hsl(154, 59%, 45%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.container {
  width: 88%;
  margin: 0 auto;
}

/********** Mobile **********/

/* registration */

.registration {
  padding: 5rem 0;
  background: url('./images/bg-intro-mobile.png') var(--red);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* description */

.description {
  color: white;
  text-align: center;
}

.description .title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
}

.description .text {
  margin-top: 1.3rem;
  line-height: 1.5;
}

/* registration-form */

.registration-form {
  margin-top: 4rem;
}

.registration-form .form-title {
  width: 100%;
  padding: 1rem 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.15);
  background: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form .form-title p {
  color: white;
  text-align: center;
  line-height: 1.5;
}

.registration-form .form-title .fw-600 {
  font-weight: 600;
}

.registration-form .form-title .fw-300 {
  font-weight: 300;
}

.registration-form .form-body {
  margin-top: 1.5rem;
  padding: 1.5rem;
  padding-top: 0.2rem;
  border-radius: 0.8rem;
  box-shadow: 0 8px 0 0 rgba(0, 0, 0, 0.15);
  background: white;
  display: flex;
  flex-direction: column;
}

.registration-form .form-body input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
}

.registration-form .form-body .form-input {
  margin-top: 1.3rem;
  position: relative;
}

.registration-form .form-body .error-img {
  display: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -50%);
}

.registration-form .form-body .error-msg {
  display: none;
  margin-top: 0.5rem;
  color: var(--red);
  font-size: 0.5rem;
  font-weight: 600;
  font-style: italic;
  text-align: end;
}

.registration-form .form-body .submit {
  width: 100%;
  margin-top: 1.3rem;
  padding: 1.1rem;
  border-radius: 0.3rem;
  box-shadow: 0 3.5px 0 0 var(--dark-green);
  background: var(--green);
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.registration-form .form-body .submit:hover {
  background: var(--light-green);
}

.registration-form .form-footer {
  margin-top: 1rem;
  padding: 0 0.9rem;
  color: var(--grayish-blue);
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
}

.registration-form .form-footer .red {
  color: red;
  font-weight: 600;
}

/* form validation */

.registration-form .form-body.validated input:invalid {
  border: 2px solid var(--red);
  color: var(--red);
}

.registration-form .form-body.validated input:invalid + .error-img,
.registration-form
  .form-body.validated
  .form-input:has(input:invalid)
  + .error-msg {
  display: block;
}

/* footer */

.attribution {
  padding: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/********** Desktop **********/

@media screen and (min-width: 800px) {
  .container {
    width: 78%;
  }

  /* registration */

  .registration {
    padding: 5rem 0;
    background: url('./images/bg-intro-desktop.png') var(--red);
  }

  .registration .container {
    display: grid;
    grid-template-columns: 45% 55%;
    /* gap: 5rem; */
  }

  /* description */

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
  }

  .description .title {
    font-size: 2.5rem;
    text-align: start;
  }

  .description .text {
    font-size: 0.9rem;
    line-height: 1.8;
  }

  /* registration-form */

  .registration-form {
    margin-top: 0;
    padding-left: 2.5rem;
  }

  .registration-form .form-title {
    font-size: 0.9rem;
  }

  .registration-form .form-body {
    padding: 2rem;
    padding-top: 1.2rem;
  }

  .registration-form .form-body input {
    padding: 0.9rem 2rem;
  }

  .registration-form .form-footer {
    font-size: 0.1rem;
  }
}
