#feature {
  margin-top: var(--gap-lg);

  .container {
    @include flex($direction: column, $gap: 2rem);

    @include breakpoint(desktop) {
      flex-direction: row;
      align-items: start;
      gap: 0;
    }
  }

  .description {
    text-align: center;

    @include breakpoint(desktop) {
      flex: 1 1 50%;
      text-align: start;
    }
    
    .text {
      margin-top: 1rem;

      @include breakpoint(desktop) {
        margin-top: 2rem;
        padding-right: 10rem;
      }
    }
  }

  .item-wrapper {
    @include flex($direction: column, $gap: var(--gap-md));

    @include breakpoint(desktop) {
      flex: 1 1 50%;
    }

    .title-wrapper {
      @include flex($justify: start);
      @include pill($padding: 0, $shadow-color: transparent);
      width: 120%;
      background: var(--very-pale-red);

      @include breakpoint(desktop) {
        background: none;
      }

      .number {
        @include flex($gap: 0);
        @include pill($padding: 0, $shadow-color: transparent, $font-size: 0.9rem);
        width: 65px;
        height: 35px;
      }
    }

    .text-wrapper {
      margin-top: 1rem;

      @include breakpoint(desktop) {
        padding-left: calc(65px + 1rem);
      }
    }
  }
}